/* ref:  fonts: josefin sans, cardo // colors: blue - #2424dd pink - #fcbecf red - #e11414 maroon - #910F0f*/
@font-face {
  font-family: Theramy;
  src: url(/Theramy\ Regular.ttf);
}
* {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;

}
header {
  margin: 50px 25px 100px;
}
h1 {
  display: inline-block;
  font-family: Theramy, serif;
  letter-spacing: -1px;
  color: #e11414;
  margin: 0 25px 0 0;
  font-size: 52px;
}
.social-icons{
  float: right;
  margin-top: 5px;
  
}
.social-icons img{
  display: inline-block;
  margin-left: 10px;
  background-color: #fcbecf;
  width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 15%;
    
}
.social-icons img:hover{
  background-color:#e11414;
  
  cursor: pointer;
}


/* CLEAR NAV WITH BUBBLE HOVER */

.sticky-nav {
  display: inline-block;
  margin-left: 50px;

  }
  
  /* Style the navigation links */
  .sticky-nav nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   text-align: center;
    
  }
  
  .sticky-nav nav ul li {
    float: left;
   padding: 0 6px;
  }
  
  .sticky-nav nav ul li a {
    display: block;
    padding: 0 10px;
    font-weight: 400;
    color: #e11414;
    text-align: center;
    text-decoration: none;
    
  }
  
  .sticky-nav nav ul li a:hover {
    font-weight:600;
    border-bottom: 1px solid #fcbecf;
   
  }
  
  .sticky-nav nav ul li a.active-link {
    font-weight:600;
    border-bottom: 1px solid #fcbecf;
  }


  
   /* home story */
.story-container {
    display: flex;
    width: 800px;
    height: auto;
    margin: 50px auto;
    background-color: #fcbecf;
    
  
}

.story-text{
   margin: 50px;
}

/* about page */

.about-container {

  width: 800px;
  height: auto;
  margin: 50px auto;
  background-color: #fcbecf;
}
.about-one {
  padding: 50px;
  display: flex;
}
.about-one img {
  width: 400px;
  height: auto;
  margin: 5px;
}
.about-two {
  padding: 50px;
  display: flex;
}
.about-two img {
  width: 400px;
  height: auto;
  margin: 5px;
}


/* gallery page */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
}

.column {
  flex: 33.33%;
  padding: 8px;
}

.image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: auto;
}

.mySlides img {
  width: 100%;
  object-fit: contain;
}

.close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 35px;
  color: white;
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* contact page */

.contact-container {

  width: 800px;
  
  margin: 50px auto;
  padding: 25px 0 50px;
  background-color: #fcbecf;
}

.contact-container h2 {
  text-align: center;
  font-family: 'Cardo', sans-serif;
  font-size: 42px;
  color: #e11414;

}

form {
  max-width: 400px;
  margin: auto;
  

}

label {
  display: block;
  margin-bottom: 10px;
  color: #2424dd;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #fcbecf;
  background-color: #f8f8f8;
  color: #2424dd;
}

textarea {
  height: 100px;
}


input[type="submit"] {
  display: block;
  margin: 0 auto;
  width: 80px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #e11414;
  color: #f8f8f8;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;  
  transition: all 235ms ease-in-out;

}


input[type="submit"]:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

input[type="submit"]:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
  
}
input[type="submit"]:active {
  transform: translateY(4px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}



/* Style the footer */


.footer-container {
  background-color: #fcbecf;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  text-align: center;
}

.footer h2 {
  color: #e11414;
  font-family: 'Cardo', sans-serif;
  font-size: 28px;
  margin-bottom: 10px;
}

.contact-links ul,
.social-media-links ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.contact-links li,
.social-media-links li {
  margin-right: 15px;
}

.contact-links a,
.social-media-links a {
  text-decoration: none;
  color: black;
}

.social-media-links img {
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 15%;
}

footer p {
 text-align: center;
 margin-top: 20px;
}
  
  /* Add retro-style icons */
  .social-media-links img {
    
    transition: filter 0.3s ease-in-out;
  }
  
  .social-media-links img:hover {
    background-color: #2424dd;
  }