/* ref:  fonts: josefin sans, cardo // colors: blue - #2424dd pink - #fcbecf red - #e11414 maroon - #910F0f*/
@font-face {
  font-family: Theramy;
  src: url(/Theramy\ Regular.ttf);
}
* {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;

}
header {
  margin: 40px 10px 20px 40px;
  
}
h1 {
  display: inline-block;
  
}
h1 a {
  text-decoration: none;
 
  font-family: Theramy, serif;
  letter-spacing: -1px;
  color: #e11414;
  font-size: 55px;
}

@media only screen and (max-width: 600px) {
h1 a {
  font-size: 9vw;
  
}
header{
  margin: auto;
}
}



/* Nav Menu with Hover */

.nav-menu {

  float: right;
  margin-top: 62px;
  margin-right: 36px;
  }
  
  /* navigation links */
  .nav-menu nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   text-align: center;
    
  }
  
  .nav-menu nav ul li {
    float: left;
   padding: 0 4px;
  }
  
  .nav-menu nav ul li a {
    display: block;
    padding: 0 10px;
    font-weight: 400;
    color: #e11414;
    text-align: center;
    text-decoration: none;
    float: right;
  }
  
  .nav-menu nav ul li a:hover {
    font-weight:600;
    border-bottom: 1px solid #fcbecf;
   
  }
  
  .nav-menu nav ul li a.active-link {
    font-weight:600;
    border-bottom: 1px solid #fcbecf;
  }
 

/* mobile menu */
  .mobile-menu {
    display: none;
    position: absolute;
    top: 55px;
    right: 38px;
    height: auto;
    width: 100px;
    list-style-type: none;
    opacity: 60%;
    background-color: #dedede;
    border-radius: 20px;
    border-top-right-radius: 0;
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

   
  }
  
  .mobile-menu li {
   padding: 10px;
    margin: 5px;
    
  }
  .mobile-menu a {
    text-decoration: none;
    color: #e11414;
    opacity: 1;
    
  }
  .mobile-menu li a:hover{
    font-weight: bold;
  }
  .icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
    font-size: 24px;
  }
  


  @media only screen and (max-width: 600px) {
    header nav {
      display: none;
    }
    .nav-menu {

      float: right;
      margin: 30px;
      
      }
  
    .icon {
      display: block;
    }
  }



  /* home hero */

  .hero-container{
    
    width: auto;
    height: 500px;
  background-image: url(/images/confetti.jpg);
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 -10px 
  }
 
  .hero-image img{
   
    width: 400px;
    height: auto;
    margin-left: 50px;
    
  }


   /* home story */
.story-container{
  display: flex;
  
  justify-content: space-between;
  margin: 20px;
  margin-bottom: 150px;
}
.story-textbox{
  background: 
  url(/images/stars.svg) no-repeat center left,
  url(/images/stars-flip.svg) no-repeat top right;
background-size: 300px, 200px;
margin: 20px;

}
.story-text h2{
  font-weight: bold;
  text-align: center;
  font-size: 38px;
  padding: 20px;
}
.story-text{
  margin: 20px;
  line-height: 1.5;
  font-size: 20px;
  padding: 0 30px;
}
.story-image{
  margin: 100px 0;
  width: 330px;

  height: 400px;
background-image: url(/images/raspberry\ cupcake.jpg);
background-position: center ;
background-repeat: no-repeat;
background-size: cover;

}
.story-right {
  
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
}
.story-right button {
  align-items: center;
  cursor: pointer;
  background-color: #fcbecf; 
  font-size: 20px;
  color: black;
  border: none; 
  padding: 20px 30px;
  border-radius: 10px; 
}
/* story mobile */
@media screen and (max-width: 600px) {
  .story-container{
  flex-wrap: wrap;
}
.story-right{
  margin: auto;
}
}



/* about page */
.about-container {
  display: flex;
  
  margin-bottom: 100px;
}
.about-image-container {
  width: 450px;
  height: 700px;
 background-image: url(/images/headshot.jpg);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 margin: 0 20px 0 40px;

}
.about-content-container {
  background: 
    url(/images/stars.svg) no-repeat top left,
    url(/images/stars-flip.svg) no-repeat bottom right;
  background-size: 300px, 200px;
  margin: -10px 0 0 -10px;
 
}
.about-content{
  margin: 0 50px;

}
.about-content h2 {
  font-weight: bold;
  text-align: center;
  font-size: 38px;
  padding: 20px;
}
.about-content p {
  line-height: 1.5;
  font-size: 20px;
  padding: 0 30px;
}
/* about mobile */
@media screen and (max-width: 600px) {
  .about-image-container{
    width: 300px;
    height: 500px;
    margin: auto;
  }
.about-container{
  flex-wrap: wrap;
  margin: auto;
}
.about-content{
  margin: auto;
 
}
}

/* gallery page */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

.column {
  flex: 25%;
  padding: 15px;
}

.image {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  padding-bottom: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  margin: auto;
}

.mySlides img {
  width: 100%;
  object-fit: contain;
}

.close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 35px;
  color: #fcbecf;
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #fcbecf;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev{
  left: 0%;
}
.next {
  right: 0%;
}
.close:hover {
  color: #2424dd;
}
.prev:hover,
.next:hover {
  background-color: #2424dd;
  opacity: 55%;
  border-radius: 10px;
}
/* Gallery Mobile */
@media screen and (max-width: 600px) {
  .column{
    flex: 100%;
  }
 
} 


/*  footer */


.footer-container {
  background-color: #fcbecf;
  width: auto;
  
  display: flex;
  margin: 0 -10px -10px ;;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 50px;
}

.footer h2 {
  color: #e11414;
  font-family: 'Cardo', sans-serif;
  font-size: 28px;
  margin: 30px 0 5px;
  
}
.contact-links, .social-media-links {
  margin: 0 10px;
  flex-wrap: wrap;
}

.contact-links ul{
  list-style-type: none;
  display: block;
  line-height: 1.8;
  margin: 0 0 0 20px;
}


.social-media-links ul {
  display: flex;
  
}
.social-media-links li{
  list-style-type: none;
  padding: 0 10px;
  
 
 

}

.contact-links a,
.social-media-links a {
  text-decoration: none;
  color: black;
}

.social-media-links img {
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 15%;
}
.footer-logo{
 width: 50%;
 margin: 0px;
 


}
.footer-logo img{
  width: 40%;
  min-width: 150px;
  margin: 0px 90px;
  height: auto;
  float: inline-end;
}

.copyright {
  background-color: #fcbecf;
  width: auto;
  display: block;
  margin:0 -10px -10px;
  padding: 10px;
  
}
.copyright p{
  display: block;
  text-align: center;
  
}
  
  .social-media-links img {
    
    transition: filter 0.3s ease-in-out;
  }
  
  .social-media-links img:hover {
    background-color: #2424dd;
  }

